body {
  max-width: 60rem;
  margin: auto;
}
button {
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  float: right;
  padding: 0.75rem 0.5rem;
  margin: 0.5rem;
  font-size: large;
  background-color: white;
}
input[type='text'] {
  width: 5rem;
}
main {
  border-color: white;
  border-style: solid;
}

/* teasing contents */

#enableColor {
  transition: background-color 300ms ease;
  transition: color 300ms ease;
}

#enableColor:hover {
  background-color: rgb(143, 143, 143);
  color: white;
}

#enableFont:hover {
  font-family: monospace;
}

#progressContainer {
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  width: 100%;
}

#progressBar {
  height: 0.5rem;
  background-color: rgb(187, 251, 245);
  width: 0%;
}

nav {
  display: none;
  justify-content: center;
}

nav > a {
  flex: auto;
  text-align: center;
  width: 20%;
}

.code {
  width: 50%;
  margin: auto;
  font-family: monospace;
  background-color: black;
  color: whitesmoke;
  border: 2px dotted whitesmoke;
  padding: 1rem;
}

.codeBox {
  border: 1px dotted black;
  background-color: aquamarine;
}

.width-90 {
  width: 90%;
  margin: auto;
}

.playground {
  font-size: xx-large;
  padding: 2rem;
}

.selectionBox {
  border: 2px solid white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.optionBox {
  border: 2px dotted black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  background-color: white;
}

.item {
  text-align: center;
  width: 5rem;
  background-color: azure;
  border: 10px solid gray;
  border-radius: 2rem;
  cursor: grab;
  flex: auto;
  padding: 0.5rem;
  margin: 0.2rem;
}

.selectionBox > .item {
  flex: none;
  width: 30%;
}

#color1 {
  background-color: red;
}

/* hiding sections */

#color {
  display: none;
}

#font {
  display: none;
}

#advanced {
  display: none;
}

#cssButton {
  float: none;
  margin: auto;
  width: fit-content;
  display: block;
}
